body {
    background-color: aqua;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
    color: rgb(47, 49, 49);
    background-color: aqua;
}

#page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#fishContainer {
    display: flex;
    flex-direction: row;
    width: 1600px;
    column-count: 3;
    /* flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    column-count: 2;
    flex-flow: column-reverse; */
}

#leftRow {
    width: 50%;
    background-color: white;
    align-items: center;
}


#rightRow {
    width: 50%;
    background-color: white;
    align-items: center;
}

.fish-card {
    padding: 10px;
    border-style: inset;
    min-height: 140px;
    align-items: center;
    text-align: center;
}

.fish-card img {
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 167px;
    max-height: 80px;
}

#learn-more {
    vertical-align: middle;
}

