body {
    background-color: aqua;
    /* background-color: rgb(12, 153, 158) */
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    color: rgb(47, 49, 49);
    background-color: aqua;
    border-bottom: double;
    /* flex-direction: column; */
}

#list-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-button {
    min-height: 30px;
    width: 70px;
}


#page {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#searchbar {
    width: 20vw;
    padding-right: 10px;
}

#fishContainer {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
    justify-content: center;
}

.fish-card {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    border-style: inset;
    min-height: 220px;
    min-width: 200px;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: cadetblue;
}

.fish-card img {
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 167px;
    max-height: 80px;
}

.learn-more {
    vertical-align: middle;
    padding: 15px;
}

.userlist-div {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    margin: auto;
    justify-content: center;
    text-align: center;
}

#view-list {
    min-height: 30px;
}




